# Ignore Mac hidden files
.DS_Store

# Ignore Snakemake hidden files
.snakemake/

# Ignore shadow hidden files made for every file
._*

# Ignore symlink to ADMIXTURE binary
bin/admixture

# Ignore temp directory
temp/

# Ignore file made by R while plotting
Rplots.pdf
